<div class="table-columns">
  <div class="scroll-buffer">
    <table class="table">
      <thead>
        <tr>
          {{#each columns as |column|}}
            {{component column.headerComponent
              table=table
              column=column
              class=column.headerClassNames
              onColumnWidthChange=(action 'columnWidthChanged')}}
          {{/each}}
        </tr>
      </thead>

      {{#if table.collapsable}}
        <tbody>
          {{#each table.collapseTableData as |row index|}}
            <tr class="table-row {{mergedRowClasses}} {{if (eq row.isParent true) 'collapsable'}} {{if (eq row.isCollapsed true) 'is-collapsed' 'is-expanded'}} {{if row.loading 'is-loading'}}" style={{rowHeight}} {{action 'toggleRowCollapse' row index target=table}}>
              {{#if row.label}}
                <td colspan={{columns.length}} class="table-cell">
                  {{row.label}}
                </td>
              {{else if (or row.isParent (not row.parent.IsCollapsed))}}
                {{yield row}}
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      {{else}}
        <tbody>
          {{#each table.content as |row index|}}
            <tr class={{concat 'table-row ' mergedRowClasses}} style={{rowHeight}}>
              {{yield row}}
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>
  </div>
</div>
