<div class="table-columns">
  <div class="scroll-buffer">
    <table class="table">
      <thead>
        <tr>
          {{#each columns as |column|}}
            {{component column.headerComponent
              table=table
              column=column
              class=column.headerClassNames
              onColumnWidthChange=(action 'columnWidthChanged')}}
          {{/each}}
        </tr>
      </thead>

      {{#if table.collapsable}}
        {{#table-vertical-collection
          tagName="tbody"
          itemClassNames=(concat 'table-row ' mergedRowClasses)
          content=table.collapseTableData
          containerSize=table.containerSize
          defaultHeight=rowHeight
          bufferSize=1
          alwaysUseDefaultHeight=true
          containerSelector=".table-columns"
          on-row-click=(action 'toggleRowCollapse' target=table) as |row|}}

          {{#if row.label}}
            <td colspan={{columns.length}} class="table-cell">
              {{row.label}}
            </td>
          {{else if (or row.isParent (not row.parent.IsCollapsed))}}
            {{yield row}}
          {{/if}}

        {{/table-vertical-collection}}
      {{else}}
        {{#if table.hideOffscreenContent}}
          {{#vertical-collection
            tagName="tbody"
            itemClassNames=(concat 'table-row ' mergedRowClasses)
            content=table.content
            containerSize=table.containerSize
            defaultHeight=rowHeight
            bufferSize=1
            alwaysUseDefaultHeight=true
            containerSelector=".table-columns"
            as |row|}}

            {{yield row}}

          {{/vertical-collection}}
        {{else}}
          <tbody>
            {{#each table.content as |row index|}}
              <tr class={{concat 'table-row ' mergedRowClasses}} style={{table.rowHeightStyle}}>
                {{#if (and (gte index topRowIndex) (lte index bottomRowIndex))}}
                  {{yield row}}
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        {{/if}}
      {{/if}}
    </table>
  </div>
</div>
