<table class="table">
  <thead>
    <tr>
      {{#each columns as |column|}}
        {{component column.headerComponent column=column}}
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{! TODO: render diff template instead of this if }}
    {{#if table.collapsable}}
      {{#each table.content as |rowGroup|}}
        <tr class="{{rowClasses}} collapsable {{if rowGroup.isCollapsed 'is-collapsed'}}" {{action 'toggleRowCollapse' rowGroup}}>
          <td colspan={{columns.length}} class="table-cell">
            {{rowGroup.label}}
          </td>
        </tr>
        {{#each rowGroup.data as |childRow|}}
          <tr class="{{if rowGroup.isCollapsed 'is-collapsed'}}">
            {{yield childRow}}
          </tr>
        {{/each}}
      {{/each}}
    {{else}}
      {{#each table.content as |row|}}
        <tr class={{rowClasses}}>
          {{yield row}}
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
