<table class="table">
  <thead>
    <tr>
      {{#each columns as |column|}}
        {{component column.headerComponent
          table=table
          column=column
          classNames=column.headerClassNames
          onColumnWidthChange=(action 'columnWidthChanged')}}
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{! TODO: render diff template instead of this if }}
    {{#if table.collapsable}}
      {{#each table.content as |rowGroup|}}
        <tr class="table-row {{mergedRowClasses}} collapsable {{if (eq rowGroup.isCollapsed false) 'is-expanded' 'is-collapsed'}} {{if rowGroup.loading 'is-loading'}}" {{action 'toggleRowCollapse' rowGroup}}>

          {{#if rowGroup.label}}
            <td colspan={{columns.length}} class="table-cell">
              {{rowGroup.label}}
            </td>
          {{else}}
            {{yield rowGroup}}
          {{/if}}
        </tr>
        {{#each (get rowGroup rowGroupDataName) as |childRow|}}
          <tr class="table-row {{if rowGroup.isCollapsed 'is-collapsed'}}">
            {{yield childRow}}
          </tr>
        {{else}}
          <tr class="is-collapsed">
            {{yield}}
          </tr>
        {{/each}}
      {{/each}}
    {{else}}
      {{#each table.content as |row|}}
        <tr class="table-row {{mergedRowClasses}}" style={{rowHeight}}>
          {{yield row}}
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
