<a href="#" {{action 'removeSomeRows'}}>Remove some rows</a>

{{#justa-table content=model as |table|}}
  {{#fixed-table-columns table=table as |row|}}
    {{table-column
      row=row
      width=150
      headerName='Name'
      valueBindingPath='displayName'}}

    {{table-column
      row=row
      width=250
      headerName='Company'
      valueBindingPath='company'}}
  {{/fixed-table-columns}}

  {{#table-columns table=table as |row|}}

    {{!--
      NOTE: there is a limitation currently when using fixed columns.
      you must specify a width for each standard column so that the browser doesn't autosize everything
    --}}

    {{table-column
      row=row
      width=550
      headerName='Address'
      valueBindingPath='address'}}

    {{table-column
      row=row
      width=150
      headerName='City'
      valueBindingPath='city'}}

    {{table-column
      row=row
      width=150
      headerName='State'
      valueBindingPath='state'}}

    {{table-column
      row=row
      width=150
      headerName='Zip'
      valueBindingPath='zipCode'}}

    {{#table-column
      width=150
      headerName='Be Careful?'
      classNames=(if row.flagged 'danger-cell')}}

      {{#if row.flagged}}
        WARNING!
      {{/if}}
    {{/table-column}}
  {{/table-columns}}
{{/justa-table}}
